.explore-menu{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color:rgb(51, 50, 50);
    padding:10px 0px;
}

.explore-menu-text{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(44, 43, 43);
    padding-top:20px;
    padding-bottom: 10px;
}


.explore-menu-list{
    display: flex;
    /*
    width:100%;
    flex-wrap: wrap; 
    */
    overflow-x: auto;
}

